.container {
    flex: 2;
}

.image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.subTitle {
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-size: 28px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgContainer{
    flex: 1;
    position: relative;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.textContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.travel{
    background-color: lightskyblue;
    width: max-content;
}

.culture{
    background-color: lightpink;
    width: max-content;
}

.food{
    background-color: lightcoral;
    width: max-content;
}

.style {
    background-color: lightgray;
    width: max-content;
}

.fashion {
    background-color: lightblue;
    width: max-content;
}

.coding {
    background-color: lightsalmon;
    width: max-content;
}


.postTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail {
    font-size: 12px;
}

.date {
    color: rgb(128, 128, 128);
}

.categoryItem{
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    width: 30%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}