.container {
    margin-top: 30px;
}

.title {
    font-size: 96px;
    font-weight: 300;
}

.post {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.postImage{
    object-fit: cover;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle {
    font-size: 40px;
}

.postDescription {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.readMoreButton {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
}

@media screen and (max-width: 1280px){
    .title {
        font-size: 72px;
    }

}

@media screen and (max-width: 1024px){
    .title {
        font-size: 64px;
    }

    .imgContainer {
        display: none;
    }

    .postTitle {
        font-size: 48px;
    }

    .postDescription {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px){
    .title {
        font-size: 48px;
    }

    .postTitle {
        font-size: 32px;
    }

    .postDescription {
        font-size: 24px;
    }
}

@media screen and (max-width: 640px){
    .title {
        font-size: 36px;
    }

    .postTitle {
        font-size: 24px;
    }

    .postDescription {
        font-size: 16px;
    }
}
