.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.social {
    display: flex;
    gap: 10px;
    flex: 1;
}

.links {
    display: flex;
    gap: 10px;
    flex: 1;
    align-items: center;
}

@media screen and (max-width: 1280px) {

    .logo {
        font-size: 2rem;
    }

    .links {
        font-size: 1rem;
        gap: 15px;

    }
}

@media screen and (max-width: 1024px) {

    .logo {
        font-size: 2rem;
        text-align: left;
    }

    .social {
        display: none;
    }

    .links {
        font-size: 1rem;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 640px) {

    .link {
        display: none;
    }

    .links {
        justify-content: flex-end;
    }
}



