.container {
    margin-top: 50px;

}

.title {
    color: var(--softTextColor);
    margin-bottom: 30px;
}

.write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.input {
    padding: 20px;
    width: 100%;
    text-decoration: none;
    resize: none;
}

.button {
    padding: 16px 20px;
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

}

.user img {
    object-fit: cover;
    border-radius: 50%;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username {
    font-weight: 500;
    font-size: 16px;
    color: var(--softTextColor);
}

.date {
    font-weight: 300;
    font-size: 16px;
}

.description {
    font-size: 18px;
    font-weight: 300;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




